In [1]:
import pandas as pd
import numpy as np
from faker import Faker
import random
import string

In [2]:
fake = Faker()
# Generate date ranges
date_range = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
# Generate sample data
# Generate sample data for weather
data = {
    'City': [fake.city() for _ in range(100)],
    'Date': [random.choice(date_range) for _ in range(100)],
    'Temperature (C)': [random.uniform(-20, 40) for _ in range(100)],  # Assuming temperature in Celsius
    'Humidity (%)': [random.randint(0, 100) for _ in range(100)],
    'Rainfall (mm)': [random.uniform(0, 50) for _ in range(100)],
    'Wind Speed (m/s)': [random.uniform(0, 20) for _ in range(100)]
}

In [3]:
df = pd.DataFrame(data)
df

,City,Date,Temperature (C),Humidity (%),Rainfall (mm),Wind Speed (m/s)
0,Annmouth,2022-11-01,-11.064356,43,27.295846,8.559162
1,Nunezshire,2022-12-23,29.499815,1,25.115670,9.502789
2,West Herbert,2022-10-24,13.646346,22,5.281709,1.549973
3,Reevesfurt,2022-04-17,7.270659,22,11.813069,0.260317
4,Coopershire,2022-03-31,2.235971,89,23.174009,3.697465
...,...,...,...,...,...,...
95,Lake Nathan,2022-07-21,24.116085,25,16.317830,15.185570
96,Arielport,2022-01-25,39.302513,70,28.823132,13.834681
97,Stevensonmouth,2022-05-07,-17.488290,52,43.633081,14.854091
98,Castrotown,2022-01-27,33.389485,91,6.803782,4.103167
99,Danielsberg,2022-03-07,35.422080,56,14.352318,5.103751

In [4]:
for col in random.sample(df.columns.tolist(), 3):
    df.loc[random.sample(range(len(df)), 5), col] = np.nan
# Add duplicates
df = pd.concat([df, df.sample(frac=0.1)])
df

,City,Date,Temperature (C),Humidity (%),Rainfall (mm),Wind Speed (m/s)
0,Annmouth,2022-11-01,-11.064356,43,27.295846,8.559162
1,Nunezshire,2022-12-23,29.499815,1,NaN,9.502789
2,West Herbert,2022-10-24,13.646346,22,5.281709,1.549973
3,Reevesfurt,2022-04-17,7.270659,22,11.813069,0.260317
4,Coopershire,2022-03-31,2.235971,89,23.174009,3.697465
...,...,...,...,...,...,...
35,South Gabriel,2022-08-07,0.463299,29,29.484694,9.555462
9,Lake Dana,2022-07-20,5.427245,1,28.574724,6.169455
67,West Crystal,2022-09-23,14.973508,57,19.546997,14.827052
97,Stevensonmouth,2022-05-07,-17.488290,52,43.633081,14.854091
94,New Davidmouth,2022-06-24,34.273459,10,30.775897,7.462731

In [5]:
# Save to CSV
df.to_csv('weather.csv', index=False)